
.wrapper{
    display: flex;
    background: var(--background);
}
.container-cart{
    display: flex;
    flex-direction: column;
    margin: 20px;
    background: #fff;
    width: 65%;
    padding: 15px;
}
.item-cart{
    display: flex;
    flex-direction: column;
}
.img{
    width: 160px;
}
.item{
    height: 30px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
}
.center{
    align-items: center;
}
.sidebar{
    width: 35%;
    margin: 20px 20px 20px 0px;
    background: #fff;
    padding: 15px;
}
.row{
    display: flex;
    width: 100%;
    position: relative;
}
.info-item{
    margin-left:10%;
    height: 100%;
}
.hr{
    height: 5px;
    width: 100%;
}
.suppr{
    color: cornflowerblue;
    cursor: pointer;
}
.suppr:hover{
    text-decoration: underline;
}
.mat-icon{
    color: #fff;
}
.userInfo-container{
    padding: 15px;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
}
.form-array, .group{
    display: flex;
    flex-direction: column;

}
.btn-action{
    padding: 15px 10px;
    background-color: var(--accent);
    color: var(--primary);
    border-radius: 5px;
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    border: none;
    display: flex;
    justify-content:space-around ;
    position: relative;
}
.btn-action:hover{
    background-color: #f5a237;
}
.abs{
    position: absolute;
    right: 5px;
    top: 5px;
}
.mat-form-field{
    height: 71px;
}
.promo{
    width: 45%;
    height: 250px;
    margin: 10px 0px;
}
.suggestions{
    display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
 
}
@media screen and (max-width: 575px) {
    .wrapper{
        flex-direction: column-reverse;
    }
    .container-cart{
        width: 100%;
        margin: 5px 0px;
    }
    .row{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
    }
    .mat-form-field{
        width: 100%;
    }
    .form{
        flex-direction: column;
        align-items: center;
    }
}