<div class="d-flex align-items-center p-3 my-3 text-white bg-purple rounded shadow-sm">
    <div class="lh-1 w-100">
    <h1 class="mb-0 text-dark lh-1 text-center">Votre Panier <i style="font-size: 35px;" class="bi bi-cart2 text-dark"></i> <br> Total: {{total}} €</h1>
    </div>
  </div>
  <section *ngIf="!loading;else loader">
  <div class="container my-3 p-3 bg-body rounded shadow-sm " *ngFor="let item of itemsCartForTemplate; let i=index">
    <h6 class="border-bottom pb-2 mb-0">{{item.product.name}}</h6>
    <div class="d-flex text-muted pt-3 colum-sm">
      <img class="bd-placeholder-img flex-shrink-0 me-2 img rounded"[src]="URL_IMG + item.product.img[0].img_mini" role="img">
      <strong class="d-block text-gray-dark">{{item.product.vendeur}}</strong>
      <div class="d-flex flex-fill">
          <div class="col-4 d-flex flex-column p-2 justify-content-around align-items-center">
            <span class="text-center p-2">Quantité</span>
            <span class="text-center p-2">{{item.quantity}}</span>
          </div>
          <div class="col-4 d-flex flex-column p-2 justify-content-around align-items-center">
            <span class="text-center p-2">Taille</span>
            <span class="text-center p-2">{{item.size}}</span>
          </div>
          <div class="col-4 d-flex flex-column p-2 justify-content-around align-items-center">
            <span class="text-center p-2">Total</span>
            <span class="text-center p-2">{{item.cost}} €</span>
          </div>
      </div>
    </div>
    <small class="d-block text-end mt-3">
       <span class="text-decoration-underline text-blue cursor" (click)="deleteItem(i)" >Supprimer</span>
    </small>
  </div>
</section>
<ng-template #loader>
  <section class="d-flex justify-content-center align-items-center">
    <mat-spinner mode="indeterminate" [diameter]="diameter"></mat-spinner>
  </section>
</ng-template>
  <section class="payements">
    <div class="container">
    <aside class="bg-dark bg-gradient rounded-3 p-4 p-sm-5 mt-5">
      <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
          <div class="mb-4 mb-xl-0">
              <div class="fs-3 fw-bold text-white">New products, delivered to you.</div>
              <div class="text-white-50">Sign up for our newsletter for the latest updates.</div>
          </div>
          <div class="ms-xl-4">
              <div class="input-group mb-2">
                  <button class="btn btn-outline-light fs-3" (click)="initCheckout()" [disabled]="checkoutInit" type="button">Continuer et payer</button>
              </div>
              <div class="small text-white-50">We care about privacy, and will never share your data.</div>
          </div>
      </div>
  </aside>
</div>
  </section>
<section class="product-similar">
  <h1 class="display-3 mb-5 text-center">Qui pourrai vous intéresser...</h1>
  <div class="container d-flex colum-sm justify-content-around align-items-center">
    <app-card-product [product]="product" *ngFor="let product of promo$ | async"></app-card-product>
  </div>
</section>
