<mat-card class="w-30" *ngIf="product">
    <mat-card-title id="data-test1"> {{product.name}} </mat-card-title>
    <img class="img-card" [src]="URL_IMG+product.img[0]['img_md']" mat-card-image>
    <mat-card-content>
        <div class="flex col">
            <span>{{product.vendeur}}</span>
            <span>{{product.price}} €</span>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="w-30" *ngIf="suggestion">
    <mat-card-title id="data-test2"> {{suggestion.name}} </mat-card-title>
    <img class="img-card" [src]="URL_IMG+suggestion.icon" mat-card-image>
    <mat-card-content></mat-card-content>
</mat-card>
<mat-card class="w-30" *ngIf="store">
    <mat-card-title id="data-test3"> {{store.name}} </mat-card-title>
    <img class="img-card" [src]="URL_IMG+store.img" mat-card-image>
    <mat-card-content></mat-card-content>
</mat-card>
