<div #container class="flex col">
  <mat-form-field appearance="fill" *ngIf="currentSize?.length">
    <mat-label> {{sizeMode}} </mat-label>
    <mat-select #inputSize (valueChange)="setValueOfSize()" >
      <mat-option *ngFor="let size of currentSize" [value]="size">
        {{size}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <ul
    class="variation-list flex"
    *ngFor="let variation of variations; let i = index"
  >
    <li class="variation-item" (click)="changeVariation(variation, i)">
      <img class="thumbnail" [src]="URL + variation.img[0].img_mini" [alt]="variation.name" />
    </li>
  </ul>
</div>
