.wrapper{
    position: relative;
}
.noscroll{
    height: 88vh ;
  overflow-y: hidden;
}
.flex{
    justify-content: space-between;
    padding: 0 10px;
}
.w-90{
    width: 90%;
}
.sub-nav-item{
    padding: 2px 15px;
    width: 1fr;
    cursor: pointer;
    font-weight: 600;
}
.nav{
    background-color: var(--secondary);
    color: #fff;
    padding: 10px 0;
}
.btn-sub-nav{
    border: none;
    background-color: var(--secondary);
    padding: 3px;
    display: flex;
    color: #fff;
    outline: var(--accent);
}
.btn-sub-nav .col{
    justify-content: space-around;
    height: 100%;
}
span.butt{
    display: inline-block;
    height: 2px;
    background-color: #fff;
    width: 25px;
}
.menu{
    width: 364px;
    transform: translateX(-364px);
    position: fixed;
    top: 0;
    background-color: #fff;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    box-shadow: 4px 0 10px 0 rgb(0 0 0 / 40%);
    will-change: width;
    z-index: 200;
}
.head-aside{
    background-color: var(--secondary);
    color: #fff;
}
.overlay{
    width: 100%;
    display: none;
    height: 85vh ;
    overflow-y: hidden;
    position: absolute;
    background-color: rgba(0,0,0,.6);;
    z-index: 100;
}
.icon{
    cursor: pointer;
    width: 30px;
}
.mat-btn{
    background-color: var(--secondary);
    border: none;
    color: #fff;
    outline: var(--accent);
}
.inside{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 15%;
    height: 30%;
}
.aside-item{
    width: 100%;
    color: var(--primary);
    font-size: 22px;
}
.container-fixed{
    transform: translateY(-150px);
    padding: 50px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container{
    padding: 50px 30px;
}