.sub-nav-item{
    padding: 2px 15px;
    width: 1fr;
    cursor: pointer;
    font-weight: 600;
}
nav.flex{
    justify-content: space-between;
    padding: 0px 5px;
    width: 100%;
}
ul{
    width: 100%;
    justify-content: space-around;
}
.nav{
    background-color: var(--secondary);
    color: #fff;
    padding:4px 0;
    height: 45px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.btn-sub-nav{
    border: none;
    background-color: var(--secondary);
    padding: 3px;
    font-size: 18px;
    display: flex;
    color: #fff;
    outline: var(--accent);
}
.btn-sub-nav .col{
    justify-content: space-around;
    height: 100%;
}
span.butt{
    display: inline-block;
    height: 2px;
    background-color: #fff;
    width: 25px;
}
@media screen and (max-width: 575px) {
    header{
        position: relative;
    }
    .nav{
        padding: 3px 0px;
        height: 40px;
    }
    .icon-account{
        position: absolute;
        right: 3px;
        top: 0px;
    }
    .bulle-vert{
        background-color: var(--green);
        padding: 5px;
        border-radius: 50%;
        position: absolute;
        bottom: 5px;
        right: 5px;
    }
    .flex{
        padding: 0px 2px;
        height: 100%;
    }
    .btn-sub-nav{
       align-items: center;
    }
    .icon-panier{
        position: absolute;
        right: 50px;
        top: 0px;
    }
    .bulle{
        background-color: var(--accent);
        color: var(--primary);
        padding: 2px 3px;
        border-radius: 50%;
        position: absolute;
        right: 50px;
        top: 10px;
        z-index: 5;
    }
    
}