<main class="flex" *ngIf="product">
    <div class="w-50">
  <app-gallery [alt]="nameOfProduct" [imgs]="product.img"></app-gallery>
</div>
<div class="w-40">
  <app-description [enableAddToCart]="enableAddToCart" [product]="product" (EmmitItemForCart)="sendProductToCart($event)" ></app-description>
  <app-variation (variationEmitter)="changeVariationData($event)" (sizeEmitter)="setChoisedSize($event)" [currentSize]="currentSize" [sizeMode]="sizeMode" [variations]="variations" ></app-variation>
</div>
<div class="w-10">
  <div class="variation col">
  </div>
</div>
</main>

<pre>{{ product | json }}</pre>
