
.owl-thumbs {
    margin-bottom: 0.625rem;
}

.owl-carousel.owl-loaded {
    display: block;
}

.owl-carousel {
    position: relative;
}

a {
    color: #4F944F;
    text-decoration: none;
    background-color: transparent;
}
.owl-thumb-item {
   border: 1px solid #000;
   cursor: pointer;
}
.btn-block {
    display: block;
    width: 100%;
}
.form-group label {
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.btn-group-square {
    margin: 1px 0 0 1px;
}
.btn-group-square .btn.active {
    color: #000;
    border: 1px solid #000;
    z-index: 10;
}
.btn-group-square .btn {
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    transition-delay: 0s;
    position: relative;
    float: left;
    padding: 0;
    width: calc(1.5em + 1.875rem + 2px);
    height: calc(1.5em + 1.875rem + 2px);
    margin-top: -1px;
    margin-left: -1px;
    font-size: 0.875rem;
    line-height: calc(1.5em + 1.875rem);
    border: 1px solid #dddddd;
    z-index: 5;
}
.btn-group-toggle > .btn {
    cursor: pointer;
}
.btn-group-toggle > .btn, .btn-group-toggle > .btn-group > .btn {
    margin-bottom: 0;
}
.btn-group-colors > .btn::after {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    background: currentColor;
    border-radius: 50%;
}
label {
    display: inline-block;
    margin-bottom: 0.25rem;
}
img{
    max-width: 100%;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 1.0625rem 2.125rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0;
}
.btn-primary {
    color: #fff;
    background-color: #4F944F;
    border-color: #4F944F;
}
.item-brand {
    margin-bottom: 0.3125rem;
}
.item-brand::before {
    position: absolute;
    top: 50%;
    left: 0;
    content: "";
    width: 1.875rem;
    height: 1px;
    background: currentColor;
}
.decorated, .item-brand {
    position: relative;
    padding-left: 3.125rem;
}
.eyebrow, .section-title, .widget-collapse, .item-brand {
    display: inline-block;
    font-size: 0.75rem;
    font-family: "Muli", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .1em;
}
.bi-star-fill{
    color: gold;
}
.thumbnail{
    width: 148px;
    height: 138px;
}

/* //section2 */
@media screen and (max-width:767px) {
    .col-sm{
        flex-direction: column;
    }
    .thumbnail{
        width: 50px;
        height: 50px;
    }
    
}