<form *ngIf="loaded" class="form-group" [formGroup]="form">
    <div class="flex-center">
        <mat-form-field appearance="fill">
            <mat-label>Nom</mat-label>
            <input matInput type="text" formControlName="name" />
          </mat-form-field>
          <mat-form-field>
            <mat-label>Prénom</mat-label>
            <input matInput type="text" formControlName="firstname" />
          </mat-form-field>
        </div>
        <div class="flex-center">
          <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" />
          </mat-form-field>
        <mat-form-field>
        <mat-label>Téléphone</mat-label>
        <input matInput type="tel" formControlName="tel" />
      </mat-form-field>
    </div>
    <div class="flex-center">
      <mat-form-field>
        <mat-label>Adresse</mat-label>
        <input matInput type="text" formControlName="adress" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Code postal</mat-label>
        <input matInput type="number" formControlName="poste" />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Ville</mat-label>
        <input matInput type="text" formControlName="city" />
      </mat-form-field>
    </div>
    <div class="flex-center">
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input
          matInput
          type="password"
          formControlName="password"
        />
        <div>
            <p *ngIf="password?.errors?.error && password?.touched" class="error">
              le mot de passe doit contenir au moins 6 caractères et inclure au moins un
              chiffre et un caractère spécial ($£%§&[\@=\}*+])
            </p>
          </div>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirmer le mot de passe</mat-label>
        <input matInput type="password" formControlName="confirm" />
        <div>
            <p *ngIf="confirm?.errors?.noMatch && confirm?.touched" class="error">
              les mots de passe sont différents
            </p>
          </div>
      </mat-form-field>
    </div>
    <div>
      <p *ngIf=message>{{ message }}</p>
    </div>

  <button (click)="onSubmit()" mat-raised-button color="primary" type="button">Envoyer</button>
  <a href="http://localhost:1337/connect/google" class="btn" mat-button type="button"><img class="mini-logo" src="../../../../assets/logger-module/google.png" alt="logo_signup"> S'inscrire avec Google</a>
</form>
<div *ngIf="loading" class="flex-center w-100 vh-100">
    <mat-spinner color="primary" mode="indeterminate" [diameter]="diameter"></mat-spinner>
</div>