.flex-center{
    margin-bottom: 50px;
    align-items: center;
    flex-wrap: wrap;
    width: 700px;
}
.mat-form-field{
    margin: 0 50px;
}
h1{
    font-size: 40px;
    margin-top: 35px;
}

@media screen and (max-width: 600px) {
    .flex-center{
        margin-bottom: 20px;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
    }
}