
<h1 class="text-center display-3">Bienvenue sur ZoulMarket.fr</h1>


<ng-template #loader>
  <div class="d-flex w-100 vh-80 justify-content-center align-items-center">
      <mat-spinner color="primary" mode="indeterminate" [diameter]="diameter"></mat-spinner>
  </div>
</ng-template>

<main>
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-lg-7">
              <div class="card shadow-lg border-0 rounded-lg mt-5">
                  <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                  <div class="card-body" *ngIf="!loading; else loader">
                      <form [formGroup]="form">
                          <div class="row mb-3">
                              <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                  <mat-label>Nom</mat-label>
                                  <input matInput type="text" formControlName="name" />
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                  <mat-label>Prénom</mat-label>
                                  <input matInput type="text" formControlName="firstname" />
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-md-6">
                            <mat-form-field appearance="fill">
                              <mat-label>Email</mat-label>
                              <input matInput type="email" formControlName="email" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="fill">
                              <mat-label>Téléphone</mat-label>
                              <input matInput type="tel" formControlName="tel" />
                            </mat-form-field>
                          </div>
                          </div>
                          <div class="row mb-3">
                              <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                  <mat-label>Mot de passe</mat-label>
                                  <input
                                    matInput
                                    type="password"
                                    formControlName="password"/>
                                  <div>
                                      <p *ngIf="password?.errors?.error && password?.touched" class="error">
                                        le mot de passe doit contenir au moins 6 caractères et inclure au moins un
                                        chiffre et un caractère spécial ($£%§&[\@=\}*+])
                                      </p>
                                    </div>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field appearance="fill">
                                  <mat-label>Confirmer le mot de passe</mat-label>
                                  <input matInput type="password" formControlName="confirm" />
                                  <div>
                                      <p *ngIf="confirm?.errors?.noMatch && confirm?.touched" class="error">
                                        les mots de passe sont différents
                                      </p>
                                    </div>
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="d-flex flex-column">
                            <h2 class="text-center my-3">Adresse de livraison</h2>
                          <div class="row mb-3">
                            <div class="col-md-6">
                              <mat-form-field appearance="fill">
                                <mat-label>N°</mat-label>
                                <input matInput type="text" formControlName="numero" />
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field appearance="fill">
                                <mat-label>Voie/libellé</mat-label>
                                <input matInput type="text" formControlName="street" />
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-md-6">
                              <mat-form-field appearance="fill">
                                <mat-label>Commune</mat-label>
                                <mat-select formControlName="city">
                                  <mat-option *ngFor="let city of cities" [value]="city">
                                    {{city}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field appearance="fill">
                                <mat-label>Code postal</mat-label>
                                <input matInput type="number" formControlName="poste" />
                              </mat-form-field>
                            </div>
                          </div>
                        </div>
                          <div class="mt-4 mb-0">
                              <div class="d-grid"><a class="btn btn-primary btn-block" (click)="onSubmit()">Valider</a></div>
                          </div>
                      </form>
                  </div>
                  <div class="card-footer text-center py-3">
                      <div class="small cursor"><a routerLink="/connexion">Vous avez déjà un compte ?</a></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</main>