.description{
    padding: 30px;
    width: 100%;
}
header h1{
    font-size: 35px;
    margin-bottom: 20px;
}
.seller{

}
.mat-icon{
    color: rgb(226, 195, 19);
}
.list-item{
 list-style: disc;
 line-height: 2;
}
.bullet-point{
    margin: 20px 0;
    padding: 10px;
}
.link{
    cursor: pointer;
    text-decoration: underline;
    transition: 0.3s;
}
.link:hover{
    color: blue;
}
.variation-item{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--primary);
    cursor: pointer;
}
.span{
    display: inline;
    margin: 0 auto;
    text-align: center;
}
.jcsa{
    justify-content: space-around;
}
.variation-list {
    border: 1px  solid var(--primary);
    border-radius: 3px;
    width: fit-content;
    margin-bottom: 5px;
}