<div class="description col" *ngIf="product">
  <header> <h1>{{ product.name }}  </h1></header>
  <div class="content">
    {{ product.description }}
  </div>

  <app-gallery *ngIf="onMobile" [alt]="product.name" [imgs]="product.img"></app-gallery>

  <div class="seller">
      <div role="link" [routerLink]="['/boutiques', product.store]"><span class="link"> Vendeur : {{ product.vendeur }}</span>
        <div>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star</mat-icon>
            <mat-icon>star_outline</mat-icon>
        </div>
      </div>
      <app-variation *ngIf="onMobile" [product]="product"></app-variation>

    </div>
  <div class="price">
    <p> Quantité: {{quantity}} </p>
    <div class="actions">
      <app-change-quantity (emitNewQuantity)="updateQuantity($event)" [quantity]="quantity"></app-change-quantity>
      <button (click)="addProductToCart()" class="add-panier" type="button">Ajouter au panier</button>
      <p class="error" *ngIf="isMissedChooseSize">Vous devez choisir une taille</p>
    </div>
    <p> Prix: {{product.price * quantity}} €</p>
    
    <p>Tous les prix incluent la TVA. Livraison GRATUITE</p>
  </div>
  <ul class="bullet-point">
    <li class="list-item" *ngFor="let item of characteristics"> {{item}} </li>
  </ul>
</div>
