.container{
    padding: 45px 30px;
}
.flex{
    justify-content: space-around;
    margin:30px auto;
    width: 100%;
}
@media screen and (max-width: 575px) {
    main.flex.container{
        padding: 5px 3px;
    }
    .container{
        padding: 30px 3px;
    }
    
    .flex{
        margin: 15px auto;
        flex-wrap: wrap;
    }
    h1{
        margin-bottom: 10px;
    }
}