
<main class="flex container col">
    <h1>Dans cette categorie</h1>
    <div class="flex" *ngIf="subCategories">
        <app-circle-container [routerLink]="['/boutique', 'products', 'list',subCategory.id]" *ngFor="let subCategory of subCategories" [data]="subCategory"></app-circle-container>
    </div>
    <div class="flex" *ngIf="products">
        <div class="fr" *ngFor="let product of products">
            <app-card-product [routerLink]="['/boutique', 'product', product.id]" [product]="product"></app-card-product>
        </div>
    </div>
</main>
