<app-navbar></app-navbar>
<app-loading [detectRoutingOnGoing]="onScreen"></app-loading>
<router-outlet></router-outlet>
<aside [@menu]="stateMenu" role="menu" class="menu">
    <header *ngIf="!mobile" class="flex p-2 head-aside">Header aside <button (click)="toggleMenu($event)" class="mat-btn" mat-buton><img src="../../../assets/home/close_black_24dp.svg" alt="close" class="icon"></button></header>
    <header *ngIf="mobile" class="flex p-2 head-aside">Catégories de produits <button (click)="toggleMenu($event)" class="mat-btn" mat-buton><img src="../../../assets/home/close_black_24dp.svg" alt="close" class="icon"></button></header>
    <ul *ngIf="mobile" class="inside">
        <li *ngFor="let category of categories" class="aside-item"[routerLink]="['/boutique', 'products', category.id]"> {{ category.name }} </li>
    </ul>
    <ul *ngIf="!mobile" class="inside">
        <li class="aside-item">item aside</li>
        <li class="aside-item">item aside</li>
        <li class="aside-item">item aside</li>
    </ul>
    <ul *ngIf="!mobile" class="inside">
        <li class="aside-item">item aside</li>
        <li class="aside-item">item aside</li>
        <li class="aside-item">item aside</li>
    </ul>
    <ul *ngIf="!mobile" class="inside">
        <li class="aside-item">item aside</li>
        <li class="aside-item">item aside</li>
        <li class="aside-item">item aside</li>
    </ul>
    </aside>
<app-footer></app-footer>