main{
    display: flex;
}
.wrapper{
    display: flex;
    flex-direction: column;
    width: 47%;
    max-width: 850px;
    margin: 0 auto;
}
.status{
    display: flex;
    background-color: #37475B;
    color: #ffff;
    padding: 5px 3px;
    align-items: center;
}
.thumbnail{
    width: 100%;
    height: 250px;
    border-right: 1px solid #F0F2F2;
}
.gray{
    background-color: #F0F2F2;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.img-description{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 250px;
   overflow: hidden;
}
.mat-acordion{
    color: var(--primary);
}
.mat-expansion-panel-header{
    font-size: 18px;
    font-size: 18px;
    font-weight: 700;
}
.action-item{
    font-size: 18px;
    font-weight: 500;
    margin-top: 15px;
    cursor: pointer;
}
.flex-center{
    align-items: center;
}
@media screen and (max-width: 575px) {
    main{
        flex-direction: column;
    }    
    .wrapper{
        width: 100%;
        justify-content: center;
    }
    .img-description{ 
        height: 150px;
     }
}