<div class="container" *ngIf="!loading;else loader">
    <div class="col-10 offset-1">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <img class="img" [src]="URL_IMG + product.img[0].img_mini" alt="product.name">
        <div class="w-50">
            <h4>{{product.description}}</h4>
        </div>
    </div>
        <div class="d-flex justify-content-center align-items-center">
            <i class="bi" [ngClass]="star" *ngFor="let star of stars; let i=index" (click)="setRating(i)"></i>
        </div>
    </div>
    <div class="col-10 offset-1">
    <form class="d-flex flex-column justify-content-center align-items-center" [formGroup]="comment">
        <div class="form-group">
        <p>Résumer votre commentaire en quelques mots</p>
        <mat-form-field appearance="fill" style="width: 300px;">
            <mat-label>Ajouter un titre</mat-label>
           <input matInput formControlName="title">
           <p class="error" *ngIf="title?.hasError('notValid')">Par sécurité, nous n'acceptons pas les caractères spéciaux</p>
        </mat-form-field>
    </div>
    <div class="form-group">
        <p class="info">Dites ce que vous pensez de ce produit en moins de 300 caractères</p>
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Ajouter votre commentaire</mat-label>
           <textarea (input)="checkLonger()" [cols]="cols" [rows]="rows" matInput formControlName="mainComment"></textarea>
           <p class="error" *ngIf="mainComment?.hasError('notValid')">Par sécurité, nous n'acceptons pas les caractères spéciaux</p>
           <p class="error" *ngIf="mainComment?.hasError('toLong')">Vous avez exèdé les 300 caratères</p>
        </mat-form-field>
    </div>
        <span class="how-much">{{countComment}}/300</span>
    </form>
    <div class="action">
        <button (click)="onSubmit()" class="btn">Valider</button>
    </div>
</div>
</div>

<ng-template #loader>
    <div class="d-flex flex-column justify-content-center align-items-center">
        <mat-spinner
          color="primary"
          mode="indeterminate"
          [diameter]="diameter"
        ></mat-spinner>
      </div>
</ng-template>