<nav class="nav">
  <div class="logo" routerLink='/'>
    <img class="img-logo" src="../../../assets/navbar/logo.png" alt="logo" />
   <span class="brand">ZoulMarket.fr</span> 
  </div>
  <div class="navbar-nav">
    <ul class="navbar">
      <li class="nav-item">Item 1</li>
      <form class="search">
          <div class="col">
        <button (click)="showListCategory($event)" type="button" id="select">Toutes les catégories <svg width=10 height=10 viewBox="134.096 153.333 131 119.259" xmlns="http://www.w3.org/2000/svg" xmlns:bx="https://boxy-svg.com">
            <path d="M 244.445 166.655 L 305.397 272.228 L 183.492 272.228 L 244.445 166.655 Z" transform="matrix(-0.999982, -0.005991, 0.005991, -0.999982, 444.501495, 432.571259)" 
            bx:shape="triangle 183.492 166.655 121.905 105.573 0.5 0 1@3e4d20fc"/>
            <path d="M 100.371 100 L 100.741 100.741 L 100 100.741 L 100.371 100 Z" style="fill: rgb(216, 216, 216);" bx:shape="triangle 100 100 0.741 0.741 0.5 0 1@b8a37f7f"/>
          </svg></button>
        <ul #ulOption class="option" title="Catégories">
          <li class="select-item"
            *ngFor="let option of categories; let i = index" [routerLink]="['/boutique', 'products', option.id]">
            {{ option.name }}
          </li>
        </ul>
    </div>
        <input class="input-nav" type="search" />
        <button class="btn-search" type="button">
          <img
            class="mini-logo"
            src="../../../assets/navbar/search-icon.png"
            alt="rechercher"
          />
        </button>
      </form>
      <li class="nav-item">Item 2</li>
      <li *ngIf="!username" [routerLink]="['connection']" class="nav-item"> <img src="../../../assets/navbar/account_circle_black_24dp.svg" alt="Votre compte">
      <li (mouseenter)="showOptions($event)" *ngIf="username"  class="nav-item flex col rel"> {{username}}
        <span  (mouseenter)="keepShowingElement($event)" (mouseleave)="keepShowingElement($event)" #onProfil class="onProfil">
          <ul class="flex-center col w-100">
            <li class="p-1" [routerLink]="['profil', userId]">Votre Profil</li> 
           <li (click)="deconnection()" class="p-1">Se déconnecter</li>
          </ul>
        </span> 
        <span class="bulle-vert"></span>
        <img src="../../../assets/navbar/account_circle_black_24dp.svg" alt="connection">
      </li>
      <li title="votre panier" *ngIf="cartLength" routerLink="/panier" class="nav-item"> <span *ngIf="cartLength" class="bulle">{{cartLength}}</span> <img src="../../../assets/navbar/shopping_cart_black_24dp.svg" alt="voir_le_panier"></li>
      <li title="panier vide" *ngIf="!cartLength" class="nav-item"> <img src="../../../assets/navbar/shopping_cart_black_24dp.svg" alt="voir_le_panier"></li>
    </ul>
  </div>
  <div class="navbar-mobile">
 
    <ul [@ulMobile]="stateUlMobile" class="mobile">
      <li *ngIf="!username" class="nav-item-mobile">
        <img src="../../../assets/navbar/account_circle_black_24dp.svg" alt="Se connecter">
        <span class="li-item-mobile">Se connecter</span>
      </li>
      <li *ngIf="username" class="p-1" [routerLink]="['profil', userId]">Votre Profil</li> 
      <li *ngIf="username" (click)="deconnection()" class="p-1">Se déconnecter</li>
      <li class="nav-item-mobile">Menu Item</li>
      <li class="nav-item-mobile">Menu Item</li>
      <li class="nav-item-mobile">Menu Item</li>
    </ul>
    <button (click)="openMenu()" class="btn-menu" type="button">
      MENU
      <div class="col">
        <span class="bar-menu"></span>
        <span class="bar-menu"></span>
        <span class="bar-menu"></span>
      </div>
     
    </button>
  </div>
</nav>
