.flex-nav{
    justify-content: center;
}
.mr{
    margin-right: 20px;
}
.padding{
    padding-left: 3rem;
}
.p-px{
    padding: 1px 2px;
    margin-left: 2px;
    font-weight: bold;
}
@media screen and (max-width: 1024px) {
    .mr{
        margin-right: 10px;
    }
    .padding{
        padding-left: 0px;
    }
}
@media screen and (max-width: 768px) {
    .flex-nav{
        justify-content: start;
    }
}