nav{
    background-color: var(--primary);
    max-width: 100%;
    padding: 3px 30px;
    display: flex;
    height: 60px;
    color: #fff;
}
.navbar-mobile{
    display: none;
}
.logo{
    width: 1fr;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    font-size: 22px;
    font-weight: 600;
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
}
.img-logo{
    height: 100%;
}
.navbar-nav{
    width: 85%;
}
.navbar{
    display: flex;
    height: 100%;
    width: 5fr;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
form{
    height: 35px;
    display: flex;
    align-items: center;
    border-radius: 7px;
    width:45%;
    position: relative;
    color: var(--primary);
    font-weight: 500;
}
#select{
    height: 100%;
    border-radius: 7px 0 0 7px;
    border: 1px solid transparent;
    cursor: pointer;
    background-color: #dddddd;
    font-weight: 600;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2px;
}
#select:hover{
    background-color: #b9b9b9;
}
.col{
    height: 100%;
}
.nav-item{
    font-weight: 600;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}
.option{
    padding: 3px 0px;
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    position: absolute;
    width: 50%;
    background-color: #fff ;
    box-shadow: var(--box);
}
.select-item{
    color: var(--primary);
    list-style: none;
    width: 100%;
    display: flex;
    padding: 0 25%;
   
}
.select-item:hover{
    color: var(--primary);
    background-color: #dddddd;
}
.btn-search{
    height: 100%;
    border-radius: 0px 7px 7px 0px;
    cursor: pointer;
    border: none;
    background-color: var(--accent);
    padding: 5px;
}
.input-nav{
    height: 100%;
    width: 80%;
    border: 1px solid transparent;
}
@media screen and (max-width: 1240px) {
    nav{
        padding: 3px 10px;
    }
    
}