
<app-sub-nav></app-sub-nav>
<section>
    <app-carousel></app-carousel>
</section>
<div class="container-fixed first-child" *ngIf="promo" >
    <div class="fr" *ngFor="let product of promo; let i=index">
        <app-card-product [routerLink]="['boutique','product', product.id]" [product]="product"></app-card-product>
    </div>
</div>
<div class="container-fixed" *ngIf="Promocategories">
    <div class="fr" *ngFor="let suggestion of Promocategories">
        <app-card-product [routerLink]="['boutique','products', suggestion.id]" [suggestion]="suggestion"></app-card-product>
    </div>
</div>
<div class="container-fixed last-child" *ngIf="stores">
    <div class="fr" *ngFor="let store of stores">
        <app-card-product [routerLink]="['boutiques',store.id]" [store]="store"></app-card-product>
    </div>
</div>


<app-loading [detectRoutingOnGoing]="onScreen"></app-loading>