.wrapper{
    position: relative;
}
.noscroll{
    height: 88vh ;
  overflow-y: hidden;
}
.flex{
    justify-content: space-between;
    padding: 0 10px;
}
.w-90{
    width: 90%;
}
.container-fixed{
    padding: 10px 30px;
    display: flex;
    /* justify-content: space-around; */
    flex-wrap: wrap;
    background: linear-gradient( -180deg,var(--background), #fff );
}
.container-fixed.first-child{
    background: linear-gradient( -180deg, #fff, var(--background) )!important;
}
.container-fixed.last-child{
    background: linear-gradient( -180deg, #fff, var(--background) )!important;
}
.container{
    padding: 50px 30px;
}
@media screen and (max-width: 575px) {
    .menu{
        width: 100%;
        transform: translateX(-100%);
        box-shadow: none;
    }
    .container-fixed{
        display: flex;
        padding: 10px 5px;
        flex-wrap: wrap;
    }

}