.gallery{
    padding: 30px;
    width: 100%;
}
.col{
    width: 80px;
}
.img-main{
    width: calc(100% - 80px);
    height: 600px;
}
.small{
    height: 80px;
    width: 100%;
    margin: 10px 0px;
    border: 1px solid var(--accent);
    border-radius: 3px;
}
.main-img{
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 575px) {
    .gallery{
        flex-direction: column;
        padding: 0;
    }
    .mini.col{
        flex-direction: row!important;
        width: 100%;
    }
    .img-main{
        width: 100%;
        height: auto;
    }
    .small{
        width: 20%;
        margin: 2px auto;
    }
}