<div class="wrapper home-carousel">
    <div class="arrow-left">
        <img src="../../../../assets/carousel/navigate_before_black_24dp.svg" alt="précédent">
    </div>
    <div class="img-content">
        <div class="title">
            <h1>Présentation de l'offre</h1>
        </div>
        <div class="img">
            <img src="../../../../assets/icons/icon-96x96.png" alt="offre spécial">
        </div>
    </div>
    <div class="arrow-right">
        <img src="../../../../assets/carousel/keyboard_arrow_right_black_24dp.svg" alt="">
    </div>
</div>
